### ...Previously in Python Challenge:

In [6]:
import string # to get alphabet :)

In [7]:
abcs = list(string.ascii_lowercase)
nums = list(range(0,26))

In [8]:
alphabet_data = dict(zip(abcs,nums))
alphabet_data

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

### Now try...

0 Create a new notebook called `extra_credit` with filename `extra_credit.ipynb`  
1 Add code that creates a _list of dictionaries_ called `alphabet_data` that looks like this:

```
    {'lower': 'a', 'upper': 'A', 'index': 1},
    {'lower': 'b', 'upper': 'B', 'index': 2},
    ...
    {'lower': 'z', 'upper': 'Z', 'index': 26}
```

In [46]:
abc123 = list(zip(abcs,nums))

In [47]:
alphabet_data = []
for letter_num in abc123:
    curr_dict = {'lower': letter_num[0].lower()
          ,'upper': letter_num[0].upper()
          ,'index': letter_num[1] + 1 }
    alphabet_data.append(curr_dict)

In [48]:
alphabet_data

[{'lower': 'a', 'upper': 'A', 'index': 1},
 {'lower': 'b', 'upper': 'B', 'index': 2},
 {'lower': 'c', 'upper': 'C', 'index': 3},
 {'lower': 'd', 'upper': 'D', 'index': 4},
 {'lower': 'e', 'upper': 'E', 'index': 5},
 {'lower': 'f', 'upper': 'F', 'index': 6},
 {'lower': 'g', 'upper': 'G', 'index': 7},
 {'lower': 'h', 'upper': 'H', 'index': 8},
 {'lower': 'i', 'upper': 'I', 'index': 9},
 {'lower': 'j', 'upper': 'J', 'index': 10},
 {'lower': 'k', 'upper': 'K', 'index': 11},
 {'lower': 'l', 'upper': 'L', 'index': 12},
 {'lower': 'm', 'upper': 'M', 'index': 13},
 {'lower': 'n', 'upper': 'N', 'index': 14},
 {'lower': 'o', 'upper': 'O', 'index': 15},
 {'lower': 'p', 'upper': 'P', 'index': 16},
 {'lower': 'q', 'upper': 'Q', 'index': 17},
 {'lower': 'r', 'upper': 'R', 'index': 18},
 {'lower': 's', 'upper': 'S', 'index': 19},
 {'lower': 't', 'upper': 'T', 'index': 20},
 {'lower': 'u', 'upper': 'U', 'index': 21},
 {'lower': 'v', 'upper': 'V', 'index': 22},
 {'lower': 'w', 'upper': 'W', 'index': 23},
 {'lower': 'x', 'upper': 'X', 'index': 24},
 {'lower': 'y', 'upper': 'Y', 'index': 25},
 {'lower': 'z', 'upper': 'Z', 'index': 26}]

### Then try...

(2) `import pandas as pd` and cast `alphabet_data` to a DataFrame:  
```alphabet_df = pd.DataFrame(alphabet_data)```

In [49]:
import pandas as pd

In [51]:
alphabet_df = pd.DataFrame(alphabet_data)

In [55]:
alphabet_df.head()

   index lower upper
0      1     a     A
1      2     b     B
2      3     c     C
3      4     d     D
4      5     e     E

In [56]:
alphabet_df.tail()

    index lower upper
21     22     v     V
22     23     w     W
23     24     x     X
24     25     y     Y
25     26     z     Z